.home {
  height: 100vh;
  background-image: url("https://img.goodfon.com/original/2560x1600/1/38/books-literature-knigi-oblozhki.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  color: white;
  text-align: center;
  max-width: 600px;
}